.jumbotron {
	background-color: #428bca
}

.jumbotron h1 {
	color:white;
}

p, h1, h4 {
	font-family: 'Roboto Slab', serif;
}

#funText {
	color: black;
	font-size: 24px;
	font-family: 'Roboto Slab', serif;
}

#box {
	height: 100px;
	width: 100px;
	margin:auto;
}
